.features{

    padding:90px 0;

    background:#fafafa;

}

.feature{

    text-align:center;

    padding:40px 25px;

}

.feature i{

    font-size:45px;

    color:#b58a2f;

}

.feature h4{

    margin:20px 0 10px;

}

.feature p{

    color:#777;

}