<section class="hero">

  <div class="container-custom hero-content">

    <div class="hero-text">

      <span class="subtitle">
        {{ hero().subtitle }}
      </span>

      <h1>
        {{ hero().title }}
      </h1>

      <a routerLink="/categories" class="hero-btn">
        <span>{{ hero().button }}</span>
        <i class="bi bi-arrow-right"></i>
      </a>

    </div>

    <div class="hero-image">

     <img [src]="hero().image" [alt]="hero().title">

    </div>

  </div>

</section>