<section class="brands" id="brands">

    <div class="container-custom">

        <h2 class="section-title">Our Brands</h2>

        <div class="row g-4">

            @for(brand of brands(); track brand.name){

                <div class="col-md-3 col-6">

                    <a [routerLink]="['/categories']" [queryParams]="{brand: brand.name}" class="brand-card-link">

                        <div class="brand-card">

                            <img [src]="brand.image" [alt]="brand.name">

                        </div>

                    </a>

                </div>

            }

        </div>

    </div>
</section>