h1{

    font-size:56px;

    font-weight:700;

}

h2{

    font-size:40px;

    font-weight:700;

}

h3{

    font-size:28px;

    font-weight:600;

}

p{

    line-height:1.8;

    color:var(--text-light);

}