:root{

    --primary:#111111;

    --secondary:#C89B3C;

    --background:#FFFFFF;

    --surface:#F8F8F8;

    --border:#EAEAEA;

    --text:#222222;

    --text-light:#777777;

    --success:#16A34A;

    --danger:#DC2626;

    --radius:14px;

    --shadow:0 12px 35px rgba(0,0,0,.08);

    --transition:.25s;

    --container:1320px;

}