<section class="categories" id="categories">

    <div class="container-custom">

        <div class="row g-4">

            @for(category of categories(); track category.id){

                <div class="col-lg-4">

                    <a class="category-card" [routerLink]="['/categories']" [queryParams]="{category: category.name}">

                        <img
                            [src]="category.image"
                            [alt]="category.name">

                        <div class="overlay">

                            <h3>{{category.name}}</h3>

                        </div>

                    </a>

                </div>

            }

        </div>

    </div>

</section>