@if(opened()){

<div class="overlay">

    <div class="search-box">

        <button
            class="close"
            (click)="close()">

            <i class="bi bi-x-lg"></i>

        </button>

        <h2>

            Search

        </h2>

        <div class="input-group">

            <input
                type="text"
                placeholder="Search products...">

            <button>

                <i class="bi bi-search"></i>

            </button>

        </div>

    </div>

</div>

}